
@{
    Layout = null;
}

<html lang="tr">
     
    @await Component.InvokeAsync("_AdminHeadComponentPartial")
   
<body>

    @await Component.InvokeAsync("_AdminSidebarComponentPartial")
    @await Component.InvokeAsync("_AdminTopbarComponentPartial")
  
    @RenderBody()



</body>
</html>